#image-container{
    display:grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(2,300px);
    justify-content: center;
    row-gap: 5px;
    column-gap: 5px;
}
img{
    height: 300px;
    width: 300px;
    border: black solid 3px;
}